{% extends 'base.html.twig' %}

{% block title %}Page d'accueille{% endblock %}

{% block body %}
    <!-- Juste pour verifier le user role
    {% for userrole in userroles %}
        {{ userrole }} &nbsp;&nbsp;  
    {% endfor %}-->

    {% if app.user %}
        <!-- --------------Utilisateur connecté-------------- -->
        <h1>Page d'accueil de Personnel de ZOO ARCADIA seulement.</h1> 
        <h4>Vous êtes  <b>{{ app.user.userIdentifier }}.  </b></h4>
        {% if roleadmin %}
            <!-- Page d'accueil d'admin -->
            <h4>Vous êtes un administrateur de site web du zoo</h4>
            <div>
                {{ include('home/admin.html.twig') }}
            </div>
        {% elseif roleemployee %}
            <!-- Page d'accueil d'veterinaire -->
            <h4>Vous êtes un employé du zoo</h4>
            <div>
                {{ include('home/employee.html.twig') }}
            </div>
        {% elseif roleveterinaire %}
            <!-- Page d'accueil d'employee -->
            <h4>Vous êtes un vétérinaire du zoo</h4>
            <div>
                {{ include('home/veterinaire.html.twig') }}
            </div>
        {% endif %}    {% else %}
        <h1>Page d'accueil de Visiteur de ZOO ARCADIA.</h1> 

        <!-- -------------- ---------------------------------- -->
        <!-- ------------Utilisateur non connecté ------------ -->
        <!-- -----------------Horaire de zoo ----------------- -->
            <h1>Horaire du zoo </h1>
            <section class="horaire">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Jour</th>
                                <th>Heure d'ouverture</th>
                                <th>Heure de fermeture</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for horaire in horaires %}
                            <tr>
                                <td>{{ horaire.day }}</td>
                                <td>{{ horaire.openTime ? horaire.openTime|date('H:i:s') : '' }}</td>
                                <td>{{ horaire.closeTime ? horaire.closeTime|date('H:i:s') :  '' }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5">Aucun enregistrement d'horaire trouvé</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
                
        <!-- -------------- ---------------------------------- -->
        <!-- -------------- Habitats des animaux-------------- -->
        <!-- -------------- ---------------------------------- -->
        <div class="habitatrow">
            <h1>Habitats des animaux</h1> 
            {% for habitat in habitats %}
                {% for habitatimage in habitat.getImage() %}
                    <a href="{{ path('app_home_habitat_show', {'id': habitat.id}) }}">
                        <div class="row  homehabitatrow">
                            <div class="col homehabitatcol" >
                                <h5>Les animaux de l'habitat  &nbsp;&nbsp;  {{ habitat.nom }}</h5>
                                <h6>Description : {{ habitat.description }}</h6>
                                <h6>Commentaire : {{ habitat.getCommentaireHabitat() }}</h6>
                            </div>
                            {% if habitatimage.getImageData()|slice(0, 5)|lower == "image" %}
                                <div class="col  homehabitatcol"><img src="{{ "..\\..\\" ~ habitatimage.getImageData() }}" class="img-fluid rounded" width ="200em" height="200em"></div>
                            {% else %}
                                <div class="col  homehabitatcol"><img src="{{ habitatimage.getImageData() }}" class="img-fluid rounded" width ="200em" height="200em"></div>
                            {% endif %}
                        </div>
                    </a></br></br>
                {% else %}
                    <div class="row homehabitatrow">
                            <div class="col  homehabitatcol"><a href="{{ path('app_home_habitat_show', {'id': habitat.id}) }}">Les animaux de l'habitat  &nbsp;&nbsp;  {{ habitat.nom }}</a></div>
                            <div class="col  homehabitatcol"></div>
                        </div></br></br>
                {% endfor %}
            {% endfor %}
        </div>
    

        
        <!-- -------------- ---------------------------------- -->
        <!-- -- To display all the authorised client reviews-- -->
        <!-- -------------- ---------------------------------- -->
        <div class="row avis_section">
            <div class="col-lg-6 col-md-6 col-12 order-sm-1 avis_section">
                <h1>Rédigez votre avis</h1>
                <h6>Notre personnel inspectera votre avis et autorisera ensuite ou non</h6> <br>
                <div>
                    <form method="POST">
                        <div class="row">
                            <div class="col-lg-2"><label for="pseudo">Nom ou Pseudo</label></div>
                            <div class="col"><input type="text" id="pseudo" name="pseudo"><br></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2"><label for="comment">Commentaire</label></div>
                            <div class="col"><textarea rows="2" cols="30" id="comment" name="comment"></textarea><br></div>
                        </div>
                        
                        <div><input type="submit" value="Submit"></div><br>
                    </form> 
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-12 order-2 pt-3 avis_section">
                <h1>Les avis des clients</h1>
                <div>
                    <form>
                        <div style="display: inline-block; margin-right:10px;"><label for="limit">Nombre d'avis à afficher</label></div>
                        <div style="display: inline-block; margin-right:10px;"><input style="width: 2em" type="text" id="limit" name="limit"></div>
                        <div style="display: inline-block; margin-right:10px;"><input type="submit" value="Submit"></div>
                    </form> 
                </div>
                <div class="table-responsive avis_section">
                    <table class="table">
                        <tbody>
                        {% for avi in avis %}
                            <div class="row">
                                <div class="col-lg-3">Pseudo</div>
                                <div class="col">{{ avi.pseudo }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;( Créé le&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ avi.getCreatedAt() ? avi.getCreatedAt()|date('Y-m-d H:i:s') : '' }} )</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">Commentaire</div>
                                <div class="col">{{ avi.commentaire }}</div>
                            </div> <br> <br> 
                        {% else %}
                            <tr>
                                <td colspan="5">Aucun enregistrement trouvé</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <!-- -------------- ---------------------------------- -->
                    <!-- - pagination of all the authorised client reviews -->
                    <!-- -------------- ---------------------------------- -->
                    <div class="pagination">
                        {{ knp_pagination_render(avis) }}
                    </div> <br>
                </div>
            </div> <br>
        </div>

    {% endif %}

{% endblock %}
