{% extends 'base.html.twig' %}

{% block title %}Page d'accueille{% endblock %}

{% block body %}
    <!-- Juste pour verifier le user role
    {% for userrole in userroles %}
        {{ userrole }} &nbsp;&nbsp;  
    {% endfor %}-->

    {% if app.user %}
        <!-- --------------Utilisateur connecté-------------- -->
        {% if roleadmin %}
            <!-- Page d'accueil d'admin -->
            <div>
                {{ include('home/admin.html.twig') }}
            </div>
        {% elseif roleveterinaire %}
            <!-- Page d'accueil d'veterinaire -->
            <div>
                {{ include('home/employee.html.twig') }}
            </div>
        {% elseif roleemployee %}
            <!-- Page d'accueil d'employee -->
            <div>
                {{ include('home/veterinaire.html.twig') }}
            </div>
        {% endif %}
    {% else %}
        <!-- -------------- ---------------------------------- -->
        <!-- ------------Utilisateur non connecté ------------ -->
        <!-- -----------------Horaire de zoo ----------------- -->
            <h1>Horaire du zoo </h1>
            <section class="horaire">
                <div class="horairetable">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Jour</th>
                                <th>Heure d'ouverture</th>
                                <th>Heure de fermeture</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for horaire in horaires %}
                            <tr>
                                <td>{{ horaire.day }}</td>
                                <td>{{ horaire.openTime ? horaire.openTime|date('H:i:s') : '' }}</td>
                                <td>{{ horaire.closeTime ? horaire.closeTime|date('H:i:s') :  '' }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5">Aucun enregistrement d'horaire trouvé</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
                
        <!-- -------------- ---------------------------------- -->
        <!-- -------------- Habitats des animaux-------------- -->
        <!-- -------------- ---------------------------------- -->
        <div class="datahabitat"><br>
            {% for habitat in habitats %}
                <div class="row habitatrow">Les animaux de l'habitat  &nbsp;&nbsp;&nbsp;&nbsp;  {{ habitat.nom }}
                    <div class="row habitatrow">
                        {% for animals in habitat.getAnimal() %}
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="card shadow">
                                    {{ animals.prenom() }}
                                    {% if animals.getAnimalImages|length > 0 %}
                                        {% for animalimage in animals.getAnimalImages() %}
                                            <a href="{{ path('app_user_animal_show', {'id': animalimage.id}) }}"><img src="{{ animalimage }}" id="animalclick" class="img-fluid"></a>
                                            <div class="card-body">
                                                <div class="card-text">{{ animals.etat }}</div>
                                                <div class="card-text">Le race d'animal est - {{ animals.race.label }}</div>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        <div class="card-body">
                                            <h5 class="card-title">{{ animals.prenom }}</h5>
                                            <div class="card-text">{{ animals.etat }}</div>
                                            <div class="card-text">Le race d'animal est - {{ animals.race.label }}</div>
                                        </div>
                                    {% endif %} 
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div> 

    {% endif %}
    

<!--<div class="row">
    <div class="col-md-12 text-center">
    <div class="col" style="text-align : right">
        <a><img src="image/zoo logo.jpg" alt="logo" width="50px" height="50px"></a>
    </div>-->
    <!--<div class="col-md-12 text-center">
    <div class="col" style="text-align : left">
        <button type="button" onclick="window.location.href='/home'" class="btn btn-outline-light"><em></em></button>
    </div>
</div>-->
    
<!-- ✅
<div class="example-wrapper">
    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/symfony/project/zooArcadia/src/Controller/HomeController.php</code></li>
        <li>Your template at <code>C:/symfony/project/zooArcadia/templates/home/index.html.twig</code></li>
    </ul>
</div>-->

{% endblock %}
