{% extends 'base.html.twig' %}

{% block title %}Race{% endblock %}

{% block body %}
    <h1>Race</h1>

    <div class="table-responsive datatable">
        <table class="table table-bordered border-success">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ race.id }}</td>
                </tr>
                <tr>
                    <th>Label</th>
                    <td>{{ race.label }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('app_admin_race_index') }}"><button class="btn btn-outline-success">Retour à la liste</button></a>

        <a href="{{ path('app_admin_race_edit', {'id': race.id}) }}"><button class="btn btn-outline-success">Modifier</button></a>

        {{ include('admin/race/_delete_form.html.twig') }}
    </div>
{% endblock %}
