        {% set roleadmin = false %}
        {% set roleveterinaire = false %}
        {% set roleemployee = false %}
        {% if app.user %}
                {% for role in app.user.roles %}
                    {% if role == "ROLE_ADMIN" %}
                        {% set roleadmin = true %}    
                    {% elseif role == "ROLE_VETERINAIRE" %}
                        {% set roleveterinaire = true %}    
                    {% elseif role == "ROLE_EMPLOYEE" %}
                        {% set roleemployee = true %}    
                    {% endif %}
                {% endfor %}
        {% endif %}

        <!-------------------------------------------------------- -->
        <!-------------barre de navigation responsive------------- -->
        <!-------------------------------------------------------- -->
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                    <div class="logo"></div>
                <div class="navbar-brand-div">
                    <a class="navbar-brand" href="{{ path('app_home') }}">Zoo ARCADIA</a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                            <li class="nav-item">
                                <!--<a class="nav-link active" aria-current="page" href="{{ path('app_home') }}">Accueil</a>-->
                                <a class="nav-link active" aria-current="page" href="{{ path('app_home') }}">Accueil</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_user_habitat_index') }}">Habitat</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_user_serviceuser_index') }}">Services</a>
                            </li>
                            <!--<li class="nav-item">
                                <a class="nav-link" href="{{ path('app_user_avis_new') }}">Donnez votre avis</a>
                            </li>-->
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_user_contact') }}">Contactez-nous</a>
                            </li>
                            {% if roleadmin %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Admin
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="{{ path('app_admin_animal_index') }}">Animal</a></li>
                                        <li><a class="dropdown-item" href="{{ path('app_admin_animal_image_index') }}">Images d'animaux</a></li>
                                        <li><a class="dropdown-item" href="{{ path('app_admin_race_index') }}">Race d'animaux</a></li>
                                        <li><a class="dropdown-item" href="{{ path('app_admin_habitat_index') }}">Habitats des animaux</a></li>
                                        <li><a class="dropdown-item" href="{{ path('app_admin_habitat_image_index') }}">Image d'Habitat</a></li>
                                        <li><a class="dropdown-item" href="{{ path('app_admin_zooservice_index') }}">Services</a></li>
                                        <li><a class="dropdown-item" href="{{ path('app_admin_zooserviceimage_index') }}">Images de Services</a></li>
                                        <li><a class="dropdown-item" href="{{ path('app_admin_horaire_index') }}">Horaire de zoo</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="{{ path('app_admin_user_index') }}">Personnel du zoo</a></li>
                                        <!--<li><a class="dropdown-item" href="{{ path('app_admin_register') }}">Inscription</a></li> -->
                                    </ul>
                                </li>
                            {% endif %}
                            {% if roleveterinaire %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Vétérinaire
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{{ path('app_veterinaire_rapport_index') }}">Tout son rapport</a></li>
                                    <li><a class="dropdown-item" href="{{ path('app_veterinaire_rapport_new') }}">Créer un rapport</a></li>
                                    <li><a class="dropdown-item" href="{{ path('app_veterinaire_habitat_index') }}">Commentaire sur l'Habitat</a></li>
                                    <li><a class="dropdown-item" href="{{ path('app_veterinaire_animal_index') }}">Voir apport animal</a></li>
                                    <!--<li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>-->
                                </ul>
                            </li>
                            {% endif %}
                            {% if roleemployee %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Employé(e)
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{{ path('app_employee_rapport_index') }}">Les Rapports</a></li>
                                    <li><a class="dropdown-item" href="{{ path('app_employee_avis_index') }}">Avis visiteur</a></li>
                                    <li><a class="dropdown-item" href="{{ path('app_employee_contact_show') }}">Contact visiteur</a></li>
                                    <li><a class="dropdown-item" href="{{ path('app_employee_service_index') }}">Les services au zoo</a></li>
                                </ul>
                            </li>
                            {% endif %}
                        <div class="authentification">
                            {% if app.user %}
                                <a class="nav-link" href="{{ path('app_logout') }}">logout</a>
                            {% else %}
                                <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                            {% endif %}
                        </div>
                    </ul>
                        <!--<form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>-->
                </div>
            </div>
        </nav>