{% extends 'base.html.twig' %}

{% block title %}Les image de services de zoo{% endblock %}

{% block body %}
    <h1>Les image de services de zoo</h1>
    <div>
        <form>
            <div style="display: inline-block; margin-right:10px;"><label for="fname">Nombre d'enregistrement</label><br></div>
            <div style="display: inline-block; margin-right:10px;"><input style="width: 2em" type="text" id="limit" name="limit"><br></div>
            <div style="display: inline-block; margin-right:10px;"><input type="submit" value="Submit"></div>
        </form> 
    </div>



    <div class="table-responsive datatable">
        <table class="table table-bordered border-success">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Chemin de l'image</th>
                </tr>
            </thead>
            <tbody>
                {% for serviceimage in serviceimages %}
                    <tr>
                        <td>{{ serviceimage.id }}</td>
                        <td>{{ serviceimage.imageData }}</td>
                        <td>
                            <a href="{{ path('app_admin_zooserviceimage_show', {'id': serviceimage.id}) }}"><button class="btn btn-outline-success">View</button></a>
                            <a href="{{ path('app_admin_zooserviceimage_edit', {'id': serviceimage.id}) }}"><button class="btn btn-outline-success">Modifier</button></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">Aucun enregistrement trouvé</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="pagination">
            {{ knp_pagination_render(serviceimages) }}
        </div>

        <a href="{{ path('app_admin_zooserviceimage_new') }}"><button class="btn btn-outline-success my-3">Créer nouveau service image</button></a>
    </div>
{% endblock %}
