{% extends 'base.html.twig' %}

{% block title %}Le services image de zoo{% endblock %}

{% block body %}
    <h1>Le services image de zoo</h1>

    <div class="table-responsive datatable">
        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ service.id }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ service.nom }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ service.description }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('app_admin/zooserviceimage_index') }}"><button class="btn btn-outline-success my-3">Retour à la liste</button></a>

        <a href="{{ path('app_admin/zooserviceimage_edit', {'id': service.id}) }}"><button class="btn btn-outline-success my-3">Modifier</button></a>

        {{ include('admin/zooserviceimage/_delete_form.html.twig') }}
    </div>
{% endblock %}
