{% extends 'base.html.twig' %}

{% block title %}Liste des habitats{% endblock %}

{% block body %}
    <h1>Liste des habitat</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Commentaire_habitat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for habitat in habitats %}
            <tr>
                <td>{{ habitat.id }}</td>
                <td>{{ habitat.nom }}</td>
                <td>{{ habitat.description }}</td>
                <td>{{ habitat.commentaireHabitat }}</td>
                <td>
                    <a href="{{ path('app_veterinaire_habitat_show', {'id': habitat.id}) }}"><button class="btn btn-outline-dark">View</button></a>
                    <a href="{{ path('app_veterinaire_habitat_edit', {'id': habitat.id}) }}"><button class="btn btn-outline-dark">Modifier</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_veterinaire_habitat_new') }}"><button class="btn btn-outline-dark my-3">Créer nouveau</button></a>
{% endblock %}
