{% extends 'base.html.twig' %}

{% block title %}Habitat{% endblock %}

{% block body %}
    <h1>Habitat</h1>

    <div class="table-responsive datatable">
        <table class="table table-bordered border-success">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ habitat.id }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ habitat.nom }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ habitat.description }}</td>
                </tr>
                <tr>
                    <th>Commentaire_habitat</th>
                    <td>{{ habitat.commentaireHabitat }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('app_veterinaire_habitat_index') }}"><button class="btn btn-outline-success my-3">Retour à la liste</button></a>

        <a href="{{ path('app_veterinaire_habitat_edit', {'id': habitat.id}) }}"><button class="btn btn-outline-success my-3">Modifier</button></a>

        {{ include('veterinaire/habitat/_delete_form.html.twig') }}
    </div>
{% endblock %}
