{% extends 'base.html.twig' %}

{% block title %}Les services disponibles à notre zoo{% endblock %}

{% block body %}
    <h1>Les services disponibles à notre zoo</h1>
    <div>
        <form>
            <div style="display: inline-block; margin-right:10px;"><label for="fname">Nombre d'enregistrement</label><br></div>
            <div style="display: inline-block; margin-right:10px;"><input style="width: 2em" type="text" id="limit" name="limit"><br></div>
            <div style="display: inline-block; margin-right:10px;"><input type="submit" value="Submit"></div>
        </form> 
    </div>

    <div class="datatable">
        <table class="table table-bordered border-success">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for service in services %}
                <tr>
                    <td>{{ service.id }}</td>
                    <td>{{ service.nom }}</td>
                    <td>{{ service.description }}</td>
                    <td>
                        <a href="{{ path('app_admin_zooservice_show', {'id': service.id}) }}"><button class="btn btn-outline-success">View</button></a>
                        <a href="{{ path('app_admin_zooservice_edit', {'id': service.id}) }}"><button class="btn btn-outline-success">Modifier</button></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Aucun enregistrement trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="pagination">
        {{ knp_pagination_render(services) }}
    </div>


    <a href="{{ path('app_admin_zooservice_new') }}"><button class="btn btn-outline-dark">Créer nouveau</button></a>
{% endblock %}
