{% extends 'base.html.twig' %}

{% block title %}Image index{% endblock %}

{% block body %}
    <h1>Image index</h1>
    <div>
        <form>
            <div style="display: inline-block; margin-right:10px;"><label for="fname">Nombre d'enregistrement</label><br></div>
            <div style="display: inline-block; margin-right:10px;"><input style="width: 2em" type="text" id="limit" name="limit"><br></div>
            <div style="display: inline-block; margin-right:10px;"><input type="submit" value="Submit"></div>
        </form> 
    </div>
    
    <div class="table-responsive datatable">
        <table class="table table-bordered border-success">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Chemin de l'image</th>
                    <th>image</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for image in habitatimages %}
                <tr>
                    <td>{{ image.id }}</td>
                    <td>{{ image.imageData }}</td>
                    <td>
                        <img src="{{ asset( image.getImageData() ) }}" alt="" class="img-rounded" width ="100" height="100" tyle="">
                    </td>
                    <td>
                        <a href="{{ path('app_admin_habitat_image_show', {'id': image.id}) }}"><button class="btn btn-outline-success">View</button></a>
                        <a href="{{ path('app_admin_habitat_image_edit', {'id': image.id}) }}"><button class="btn btn-outline-success">Modifier</button></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Aucun enregistrement trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_admin_habitat_image_new') }}"><button class="btn btn-outline-success my-3">Créer nouveau</button></a>
    </div>
{% endblock %}
