{% extends 'base.html.twig' %}

{% block title %}Rapport de l'employé{% endblock %}

{% block body %}
    <h1>Rapport de l'employé</h1>

    <div class="table-responsive datatable">
        <table class="table table-bordered border-success">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ rapport_employee.id }}</td>
                </tr>
                <tr>
                    <th>Nourriture</th>
                    <td>{{ rapport_employee.nourriture }}</td>
                </tr>
                <tr>
                    <th>CreatedAt</th>
                    <td>{{ rapport_employee.createdAt ? rapport_employee.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Quantité</th>
                    <td>{{ rapport_employee.quantité }}</td>
                </tr>
            </tbody>
        </table>
        <a href="{{ path('app_veterinaire_rapport_employee_index') }}"><button class="btn btn-outline-success my-3">Créer nouveau</button></a>

        {{ include('veterinaire/rapport_employee/_delete_form.html.twig') }}
    </div> 
{% endblock %}
