{% extends 'base.html.twig' %}

{% block title %}RapportVeterinaire index{% endblock %}

{% block body %}
    <h1>RapportVeterinaire index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Detail</th>
                <th>CreatedAt</th>
                <th>Status</th>
                <th>Food</th>
                <th>Foodgrammage</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rapport_veterinaire in rapport_veterinaires %}
            <tr>
                <td>{{ rapport_veterinaire.id }}</td>
                <td>{{ rapport_veterinaire.detail }}</td>
                <td>{{ rapport_veterinaire.createdAt ? rapport_veterinaire.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ rapport_veterinaire.status }}</td>
                <td>{{ rapport_veterinaire.food }}</td>
                <td>{{ rapport_veterinaire.foodgrammage }}</td>
                <td>
                    <a href="{{ path('app_veterinaire_rapport_show', {'id': rapport_veterinaire.id}) }}">show</a>
                    <a href="{{ path('app_veterinaire_rapport_edit', {'id': rapport_veterinaire.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_veterinaire_rapport_new') }}">Create new</a>
{% endblock %}
