{% extends 'base.html.twig' %}

{% block title %}Liste des rapport Veterinaire{% endblock %}

{% block body %}
    <h1>Liste des rapport Veterinaire</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Detail</th>
                <th>Date création</th>
                <th>Etat</th>
                <th>Nourriture</th>
                <th>Grammage de nourriture</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rapport_veterinaire in rapport_veterinaires %}
            <tr>
                <td>{{ rapport_veterinaire.id }}</td>
                <td>{{ rapport_veterinaire.detail }}</td>
                <td>{{ rapport_veterinaire.createdAt ? rapport_veterinaire.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ rapport_veterinaire.status }}</td>
                <td>{{ rapport_veterinaire.food }}</td>
                <td>{{ rapport_veterinaire.foodgrammage }}</td>
                <td>
                    <a href="{{ path('app_veterinaire_rapport_show', {'id': rapport_veterinaire.id}) }}"><button class="btn btn-outline-dark">View</button></a>
                    <a href="{{ path('app_veterinaire_rapport_edit', {'id': rapport_veterinaire.id}) }}"><button class="btn btn-outline-dark"></button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_veterinaire_rapport_new') }}"><button class="btn btn-outline-dark my-3">Créer nouveau</button></a>
{% endblock %}
