{% extends 'base.html.twig' %}

{% block title %}Image de animal{% endblock %}

{% block body %}
    <h1>Image de animal</h1>

    <div class="table-responsive datatable">
        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ animal_image.id }}</td>
                </tr>
                <tr>
                    <th>Image_data</th>
                    <td>{{ animal_image.imageData }}</td>
                </tr>
            </tbody>
        </table>

        <img src="{{ asset( animal_image.imageData ) }}" alt="" class="img-rounded" width ="200" height="300" tyle="">

        <div class="row"><a href="{{ path('app_admin_animal_image_index') }}"><button class="btn btn-outline-success my-2">Retour à la liste</button></a></div>

        <div class="row"><a href="{{ path('app_admin_animal_image_edit', {'id': animal_image.id}) }}"><button class="btn btn-outline-success my-2">Modifier</button></a></div>

        {{ include('admin/animal_image/_delete_form.html.twig') }}
    </div>
{% endblock %}
