{% extends 'base.html.twig' %}

{% block title %}Liste des habitats{% endblock %}

{% block body %}
    <h1>Liste des habitats</h1>
    <div>
        <form>
            <div style="display: inline-block; margin-right:10px;"><label for="fname">Nombre d'enregistrement</label><br></div>
            <div style="display: inline-block; margin-right:10px;"><input style="width: 2em" type="text" id="limit" name="limit"><br></div>
            <div style="display: inline-block; margin-right:10px;"><input type="submit" value="Submit"></div>
        </form> 
    </div>

    <div class="table-responsive datatable">
        <table class="table table-bordered border-success">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Commentaire_habitat</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for habitat in habitats %}
                <tr>
                    <td>{{ habitat.id }}</td>
                    <td>{{ habitat.nom }}</td>
                    <td>{{ habitat.description }}</td>
                    <td>{{ habitat.commentaireHabitat }}</td>
                    <td>
                        <a href="{{ path('app_admin_habitat_show', {'id': habitat.id}) }}"><button class="btn btn-outline-success">View</button></a>
                        <a href="{{ path('app_admin_habitat_edit', {'id': habitat.id}) }}"><button class="btn btn-outline-success">Modifier</button></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucun enregistrement trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    
    <div class="pagination">
        {{ knp_pagination_render(habitats) }}
    </div> <br>

    <a href="{{ path('app_admin_habitat_new') }}"><button class="btn btn-outline-success my-3">Créer nouveau</button></a>
    </div>
{% endblock %}
