{% extends 'base.html.twig' %}

{% block title %}Animaux de notre zoo{% endblock %}

{% block body %}
    <h1>Les animaux de notre zoo</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prenom</th>
                <th>Etat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for animal in animals %}
            <tr>
                <td>{{ animal.id }}</td>
                <td>{{ animal.prenom }}</td>
                <td>{{ animal.etat }}</td>
                <td>
                    <a href="{{ path('app_admin_animal_show', {'id': animal.id}) }}"><button class="btn btn-outline-success">View</button></a>
                    <a href="{{ path('app_admin_animal_edit', {'id': animal.id}) }}"><button class="btn btn-outline-success">Modifier</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_animal_new') }}"><button class="btn btn-outline-dark my-3">Créer nouveau</button></a>
{% endblock %}
