{% extends 'base.html.twig' %}

{% block title %}Animal{% endblock %}

{% block body %}
    <h1>Animal</h1>

    <div class="table-responsive datatable">
        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ animal.id }}</td>
                </tr>
                <tr>
                    <th>Prenom</th>
                    <td>{{ animal.prenom }}</td>
                </tr>
                <tr>
                    <th>Etat</th>
                    <td>{{ animal.etat }}</td>
                <tr>
                    <th>Race</th><td>{{ races}}</td>
                    {% for race in races %}
                        <td>{{ race.id }}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
            {#Table pour afficher les image d'animal #}
            <table class="table">
                <tbody>
                    <h3>Image des animal</h3>
                    <tr>
                    {% for animalImage in animal.animalImages %}
                        <th>{{ animalImage.getImageData() }}</th>
                        <th><img src="{{ asset( animalImage.getImageData() ) }}" alt="" class="rounded" width ="200" height="300" tyle=""></th>
                    {% endfor %}
                    </tr>
                </tbody>
            </table>

    <a href="{{ path('app_admin_animal_index') }}"><button class="btn btn-outline-success my-3">Retour à la liste</button></a>

    <a href="{{ path('app_admin_animal_edit', {'id': animal.id}) }}"><button class="btn btn-outline-success my-3">Modifier</button></a>

    {{ include('admin/animal/_delete_form.html.twig') }}
    </div>    
{% endblock %}
